<div class="up_layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <br />
          <br />
          <br />
          <br /><br /><br /><br /><br /><br /><br /><br />
          <h5 class="banner_taital">
            <span>Welcome to</span><br /><span style="color: #fe5b29"
              >à la carte</span
            >
          </h5>
          <!-- <div class="btn_main"> -->
          <div class="contact_bt">
            <a routerLink="/menu">
              <fa-icon [icon]="faPlay"> </fa-icon>
              <!-- <fa-icon [icon]="faGearComplex"></fa-icon> -->
            </a>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="menu_layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <h5 class="banner_taital">
            <span>Cuisines</span><br /><span style="color: #4adf94"
              >you can die for</span
            >
          </h5>
          <!-- <div class="btn_main"> -->
          <div class="contact_bt">
            <a routerLink="/menu">
              <fa-icon [icon]="faPlay"> </fa-icon>
              <!-- <fa-icon [icon]="faGearComplex"></fa-icon> -->
            </a>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
