<div class="about">
    <h3>Brief</h3>
    <p>
      NCS Group (also known as NCS Pte Ltd or "NCS", previously known as
      National Computer Systems) is a multinational information technology
      company headquartered in Singapore. Founded in 1981 as an agency of the
      Singapore government, it was privatised in 1996 and subsequently become
      part of the Singtel group in 1997. NCS has over 12,000 staff located in
      more than 20 cities across Asia Pacific.
    </p>

    <h3>History</h3>
    <p>
      NCS was founded in 1981 when the Government of Singapore embarked upon
      initiatives to harness information technology (IT) for both the public and
      private sectors. It was restructured as a commercial entity in 1996 and a
      year later, became a wholly owned subsidiary of SingTel Group.[4] NCS
      adopted its current name on 1 November 2003. SingTel Aeradio was a
      communication engineering services provider in airport consultancy,
      facility management services, engineering and radio communications,
      C4ISR*, intelligent building, smart security services, transportation
      services, IT infrastructure system, IT Security training and
      certification, telecommunication and multimedia. In 2002, SingTel Aeradio
      merged with NCS, retaining much of its identity as NCS Communications
      Engineering (NCS Comms Engg) In 2008, NCS bought 60% of local rival IT
      company, Singapore Computer Systems, shares, triggering a buyout of the
      company In 2020, NCS acquires digital services 2359 Media.
    </p>

    <h3>Management</h3>
    <p>
      Management In 2005, Chong Yoke Sin became the Chief Executive Officer
      (CEO). She resigned in 2007 for personal reasons and Lim Eng took over as
      the CEO. Lim retired in 2010 and Chief Operating Officer Chia Wee Boon
      took over as CEO. On 1 August 2019, the Singtel Group appointed Ng Kuo Pin
      as the new chief executive officer of NCS after Chia stepped down.
    </p>

    <h3>Products and Services</h3>
    <p>
      The company offers several services including consultancy, development,
      integration, infrastructure management, and BPO to customers from the
      public, education, financial services, insurance, healthcare, life
      sciences, logistics, telecommunications, utilities and transportation
      sectors.
    </p>
</div>
