/* Styles for the menu section */
.menu {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* Add this line */
  flex-direction: column; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
}
/* Styles for the heading */
.menu h1 {
  font-size: 36px;
  color: #000;
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
}

/* Styles for the establishment text */
.menu .established {
  font-size: 14px;
  color: #777;
  font-family: "Arial", sans-serif;
}

/* Styles for the today's menu section */
.menu h2 {
  font-size: 24px;
  color: #000;
  font-family: "Arial", sans-serif;
  margin-bottom: 10px;
}

.menu img {
  max-width: 100px;
  margin-bottom: 10px;
}

/* Styles for the food menu items */
.menu p {
  font-size: 16px;
  color: #000;
  font-family: "Arial", sans-serif;
  margin-bottom: 5px;
}

.menu button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
}

/* Styles for the create food menu form */
.menu form {
  margin-top: 30px;
  text-align: center;
}

.menu form h2 {
  font-size: 20px;
  color: #000;
  font-family: "Arial", sans-serif;
  margin-bottom: 10px;
}

.menu .mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.menu .mat-form-field input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: "Arial", sans-serif;
}

.menu button[type="submit"] {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
}

/* Styles for the footer */
.menu footer {
  margin-top: 30px;
  text-align: center;
  color: #777;
  font-family: "Arial", sans-serif;
}

.menu footer a {
  color: #777;
  text-decoration: none;
}

.menu .bottom-line {
  margin-top: 30px;
}

.menu .address {
  font-size: 12px;
  font-family: "Arial", sans-serif;
}

/* Styles for the table */
.menu table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}
.menu th {
  font-weight: bold;
  color: #000;
}

.menu td {
  vertical-align: top;
}



.menu th,
.menu td {
  text-align: left; /* Update to 'left' */
  padding: 3px;
  border-bottom: 1px solid #ccc;
}

.menu th {
  text-align: left;
  font-weight: bold;
  color: #000;
}


/* Styles for the delete button */
.menu .del {
  text-align: right;
  display: flex;
  justify-content: flex-end; /* Update to 'flex-end' */
}
