
<div class="w3-row w3-padding-64" id="about">
  <div class="w3-col m6 w3-padding-large w3-hide-small">
   <img src="../../assets/about.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
  </div>

  <div class="w3-col m6 w3-padding-large">
    <h1 class="w3-center">Gà La Carte</h1><br>
    <h5 class="w3-center">Tradition since 1889</h5>
    <p class="w3-large">Welcome to our extraordinary restaurant, where culinary excellence knows no boundaries. Immerse yourself in a gastronomic adventure as we take you on a journey through an array of delectable cuisines from around the world.

      Indulge in the rich and vibrant flavors of authentic Italian pasta, where each bite transports you to the charming streets of Rome. Savor the delicate spices and aromatic herbs of our Indian dishes, showcasing the diversity and complexity of the subcontinent's culinary heritage.
                  
      
    <p class="w3-large w3-text-grey w3-hide-medium"> Immerse yourself in the vibrant ambiance of our restaurant, where impeccable service and attention to detail elevate your dining experience.
      
      Come join us on this culinary journey and let your senses be captivated by the tantalizing aromas, the exquisite flavors, and the artistry that unfolds on your plate. Discover the world on a plate, right here at our remarkable restaurant..We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
  </div>
</div>