<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"
      ><img src="../../assets/logo.png" alt="ncs_logo"width="80px" height="45px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <button mat-button (click)="reserve()">Reservation</button>
        </li>
        <li class="nav-item">
          <button mat-button (click)="menu()">Menu</button>
        </li>
        <li class="nav-item">
            <button mat-button (click)="location()">Location</button>
        </li>
        <li class="nav-item">
          <button mat-button (click)="contact()">Contact</button>
      </li>
      </ul>
      <span class="example-spacer"></span>
  
      <button mat-icon-button class="search-icon" aria-label="search icon">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button class="geo" aria-label="geo icon">
        <mat-icon>public</mat-icon>
        <p class="text" style="font-size: small;">IN</p>
      </button>
    </div>
  </nav>

  
  
 
